.header {
	height: 12rem;
	background-image: linear-gradient(#fe6433, orange);
}

.header__navbar {
	display: flex;
	justify-content: space-between;
	padding-top: 1rem;
}

.header__navbar-list {
	list-style: none;
	padding-left: 0;
}

.header__navbar-item {
	display: inline;
}

.header__navbar-item {
	margin: 0 0.8rem;
	position: relative;
	/* min-height: 2.6rem; */
}

.header__navbar-item--has-qr:hover .header__qr {
	display: block;
}

.header__navbar-item,
.header__navbar-item-link {
	display: inline-block;
	font-size: 1.4rem;
	color: white;
	text-decoration: none;
	font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
	cursor: pointer;
	color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link,
.header__navbar-item--bold {
	display: inline-flex;
	align-items: center;
}

.header__navbar-item--bold {
	font-weight: 500;
}

.header__navbar-item--separate::after {
	content: "";
	display: block;
	position: absolute;
	width: 0.1rem;
	height: 1.2rem;
	background-color: gray;
	right: -0.8rem;
	top: 50%;
	transform: translateY(-50%);
}

.header__navbar-icon {
	/* font-size: 1.8rem; */
	margin: 0 0.4rem;
}

.header__navbar-icon-link {
	color: #fff;
	text-decoration: none;
}

.header__navbar-title--no-pointer {
	cursor: text;
}

/* Header QR code */
.header__qr {
	width: 18rem;
	background-color: white;
	position: absolute;
	left: 0;
	top: 120%;
	border-radius: 0.2rem;
	display: none;
	animation: fadeIn ease-in 0.5s;
}

.header__qr::before {
	content: "";
	position: absolute;
	top: -5%;
	left: 0;
	width: 100%;
	height: 1rem;
}

.header__qr-img {
	width: 100%;
}

.header__qr-apps {
	display: flex;
	justify-content: space-between;
	margin: 0 2rem;
}

.header__qr-download-img {
	height: 1.5rem;
}

/* Header Notification */
.header__notify {
	position: absolute;
	top: 120%;
	right: 0;
	width: 40rem;
	background-color: white;
	border: 1px solid #d3d3d3;
}

.header__notify-header {
	height: 4rem;
	background-color: white;
}

.header__notify-header h3 {
	color: #666666;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 4rem;
	margin-left: 1.2rem;
}

.header__notify-list {
	padding-left: 0;
	list-style: none;
}

.header__notify-item {
}

.header__notify-link {
	display: flex;
	text-decoration: none;
}

.header__notify-img {
	width: 4.8rem;
	object-fit: contain;
}

.header__notify-info {
	margin-left: 1.2rem;
	line-height: 2.2rem;
}

.header__notify-name {
	display: block;
	font-size: 1.4rem;
	color: black;
}

.header__notify-description {
	display: block;
	font-size: 1.2rem;
	color: #666666;
}
